.shows-list-styles {


    background-color: darkmagenta;
}



.display-show-cards {


    display: grid;
    grid-template-columns: repeat((4, 1fr));
}

.shows-card-styles {


    border: 10px solid navy;
    margin: 10px;
    border-radius: 10px;
}